*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(34, 33, 33, 0.87);
    color: white;
    
}
.nav img{
    height: 250px;
    width: 250px;
    margin-top: -90px;
    margin-left: -70px;
    cursor:pointer;

}
.nav h1{
    text-align: end;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: -170px;
    font-family: 'Bungee Spice', sans-serif;
}

#box1{
    background-color: rgba(255, 255, 255, 0.5);
    height: 400px;
    width:600px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    
    
}
#input1{
    padding: 10px;
    width:90%;
    border-radius: 50px 50px 0px 50px;
    font-weight:bold ;
    text-align: center;
    border: none;
    
    

}
#input2{
    padding: 10px;
    width:90%;
    position: absolute;
    top: 200px;
    border-radius: 50px 50px 0px 50px;
    text-align: center;
    font-weight:bold ;
    border: none;

}
#box1 button{
    padding: 6px;
    border-radius: 10px;
    border: none;

}
#box2{
    background-color: rgba(255, 255, 255, 0.5);
    height: 400px;
    width:600px;
    border-radius: 20px;
    margin-left: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative;
    color: black;
    



}
#box2 button{
    position: absolute;
    bottom: 10px;
    right:10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
#para{
    position: absolute;
    top: 100px;
    
    overflow-wrap: break-word;

}

.box{
    display: flex;
    justify-content: space-around;
    
}

@media screen and (max-width:600px) {
    .box{
        flex-direction: column;
        
    
    }

    

     #box1{
    height: 400px;
    width: 500px;
     }
     #box2{
    height: 400px;
    width: 500px;
    margin-top: 30px;
    }
}